In [1]:
import logging

import numpy as np
import pandas as pd

from blueetl.analysis import Analyzer
from blueetl.constants import *
from blueetl.utils import load_yaml

analysis_config_file = "../tests/data/tmp/analysis_config_02.yaml"

In [2]:
loglevel = logging.WARNING
logformat = "%(asctime)s %(levelname)s %(name)s: %(message)s"
logging.basicConfig(format=logformat, level=loglevel)
np.random.seed(0)
analysis_config = load_yaml(analysis_config_file)
analysis_config

{'simulation_campaign': 'tests/data/tmp/simulation_campaign_02.yaml',
 'output': 'analysis_02_bluecv',
 'extraction': {'neuron_classes': {'L3_EXC': {'layer': [3],
    'synapse_class': ['EXC']},
   'L4_EXC': {'layer': [4], 'synapse_class': ['EXC']},
   'L3_INH': {'layer': [3], 'synapse_class': ['INH']},
   'L4_INH': {'layer': [4], 'synapse_class': ['INH']}},
  'limit': None,
  'target': 'hex0',
  'windows': {'w1': {'bounds': [3800, 4000]},
   'w2': {'bounds': [4800, 5000]},
   'w3': {'bounds': [5800, 6000]},
   'w4': {'bounds': [4000, 4200]},
   'w5': {'bounds': [5000, 5200]},
   'w6': {'bounds': [6000, 6200]}}},
 'analysis': {'features': [{'type': 'single',
    'name': 'by_gid',
    'groupby': ['simulation_id',
     'circuit_id',
     'neuron_class',
     'window',
     'gid'],
    'function': 'blueetl.external.bluecv.gid.calculate_features_by_gid',
    'params': {'MFR': {},
     'latency': {},
     'ISI': {},
     'CV': {},
     'spike_count': {}}},
   {'type': 'single',
    'name': 'by_neuron_class',
    'groupby': ['simulation_id', 'circuit_id', 'neuron_class', 'window'],
    'function': 'blueetl.external.bluecv.neuron_class.calculate_features_by_neuron_class',
    'params': {'PSTH': {'params': {'bin_size': 10}}, 'PSD': {}}},
   {'type': 'comparison',
    'function': 'blueetl.external.bluecv.comparison.calculate_comparison_features',
    'params': {'VR': {}, 'VP': {}}}]}}

In [3]:
a = Analyzer(analysis_config, base_path='..', use_cache=True)

In [4]:
a.extract_repo()

2022-04-26 12:11:02,134 WARNING bluepy_configfile.configfile: Have keys ({'Date'}) that are not defined for section: Run

In [5]:
a.calculate_features()

2022-04-26 12:12:51,242 WARNING blueetl.features: Comparison features not implemented

In [6]:
a.repo.names

['neuron_classes',
 'neurons',
 'simulations',
 'spikes',
 'trial_steps',
 'windows']

In [7]:
a.repo.simulations.df

,simulation_id,circuit_id,simulation_path,simulation,circuit
seed,,,,,
294851,0,0,/gpfs/bbp.cscs.ch/data/scratch/proj83/home/bol...,<bluepy.simulation.Simulation object at 0x2aab...,<bluepy.circuit.Circuit object at 0x2aab76420c70>

In [8]:
a.repo.neurons.df

      circuit_id neuron_class      gid  neuron_class_index
0              0       L3_EXC     8750                   0
1              0       L3_EXC     8844                   1
2              0       L3_EXC     8942                   2
3              0       L3_EXC     9405                   3
4              0       L3_EXC     9549                   4
...          ...          ...      ...                 ...
9344           0       L4_INH  2884928                 297
9345           0       L4_INH  2884986                 298
9346           0       L4_INH  2885155                 299
9347           0       L4_INH  2885280                 300
9348           0       L4_INH  2885467                 301

[9349 rows x 4 columns]

In [9]:
a.repo.neuron_classes.df

   circuit_id neuron_class  count limit target layer synapse_class
0           0       L3_EXC   4078  None   hex0   [3]         [EXC]
1           0       L3_INH    401  None   hex0   [3]         [INH]
2           0       L4_EXC   4568  None   hex0   [4]         [EXC]
3           0       L4_INH    302  None   hex0   [4]         [INH]

In [10]:
a.repo.trial_steps.df

Empty DataFrame
Columns: [simulation_id, circuit_id, trial_steps_label, trial_steps_value]
Index: []

In [11]:
a.repo.windows.df

,simulation_id,circuit_id,window,trial,offset,t_start,t_stop,duration,window_type
0,0,0,w1,0,0,3800.0,4000.0,200.0,
1,0,0,w2,0,0,4800.0,5000.0,200.0,
2,0,0,w3,0,0,5800.0,6000.0,200.0,
3,0,0,w4,0,0,4000.0,4200.0,200.0,
4,0,0,w5,0,0,5000.0,5200.0,200.0,
5,0,0,w6,0,0,6000.0,6200.0,200.0,

In [12]:
a.repo.spikes.df

           time      gid window  trial  simulation_id  circuit_id neuron_class
0      3809.175    57119     w1      0              0           0       L3_EXC
1      3809.325   583707     w1      0              0           0       L3_EXC
2      3809.375   461452     w1      0              0           0       L3_EXC
3      3810.425    48942     w1      0              0           0       L3_EXC
4      3810.425   205703     w1      0              0           0       L3_EXC
...         ...      ...    ...    ...            ...         ...          ...
60255  6190.750  2796595     w6      0              0           0       L4_INH
60256  6194.250  2884778     w6      0              0           0       L4_INH
60257  6194.500  2877734     w6      0              0           0       L4_INH
60258  6194.850  2882619     w6      0              0           0       L4_INH
60259  6199.100  2874116     w6      0              0           0       L4_INH

[60260 rows x 7 columns]

In [13]:
a.features.names

['by_gid', 'by_neuron_class']

In [14]:
a.features.by_gid.df

                                                        MFR  latency     ISI  \
simulation_id circuit_id neuron_class window gid
0             0          L3_EXC       w1     8750     0.000      NaN     NaN
                                             8844     0.000      NaN     NaN
                                             8942     0.000      NaN     NaN
                                             9405     0.000      NaN     NaN
                                             9549     0.000      NaN     NaN
...                                                     ...      ...     ...
                         L4_INH       w6     2884928  0.030   13.775   7.350
                                             2884986  0.010   16.775  67.475
                                             2885155  0.025   13.825  23.775
                                             2885280  0.005   12.825     NaN
                                             2885467  0.005   23.750     NaN

                                                            CV  spike_count
simulation_id circuit_id neuron_class window gid
0             0          L3_EXC       w1     8750          NaN            1
                                             8844          NaN            1
                                             8942          NaN            1
                                             9405          NaN            1
                                             9549          NaN            1
...                                                        ...          ...
                         L4_INH       w6     2884928  0.414176            6
                                             2884986  0.000000            2
                                             2885155  0.349453            5
                                             2885280       NaN            1
                                             2885467       NaN            1

[56094 rows x 5 columns]

In [15]:
a.features.by_neuron_class.df

                                                                                           PSTH  \
simulation_id circuit_id neuron_class window
0             0          L3_EXC       w1      [[3, 5, 3, 3, 7, 6, 5, 5, 7, 4, 4, 1, 3, 5, 3,...
                                      w2      [[7, 3, 4, 6, 4, 7, 2, 6, 2, 5, 5, 3, 4, 4, 4,...
                                      w3      [[4, 9, 1, 5, 4, 5, 6, 2, 4, 2, 2, 1, 3, 2, 3,...
                                      w4      [[7, 1299, 671, 302, 289, 441, 486, 448, 431, ...
                                      w5      [[2, 1257, 698, 271, 263, 403, 481, 479, 402, ...
                                      w6      [[2, 1255, 691, 279, 255, 387, 429, 483, 456, ...
                         L3_INH       w1      [[4, 0, 3, 2, 0, 1, 6, 5, 1, 2, 7, 2, 5, 2, 2,...
                                      w2      [[2, 2, 4, 2, 3, 6, 3, 3, 5, 5, 4, 1, 1, 5, 3,...
                                      w3      [[5, 4, 3, 3, 0, 3, 2, 5, 4, 2, 4, 2, 0, 1, 3,...
                                      w4      [[3, 147, 71, 32, 26, 38, 48, 45, 48, 33, 27, ...
                                      w5      [[0, 159, 69, 34, 22, 32, 58, 46, 43, 30, 31, ...
                                      w6      [[1, 147, 75, 35, 21, 33, 40, 37, 41, 49, 24, ...
                         L4_EXC       w1      [[134, 114, 101, 126, 99, 100, 89, 93, 77, 108...
                                      w2      [[74, 115, 110, 115, 98, 87, 105, 119, 119, 10...
                                      w3      [[92, 76, 92, 94, 101, 107, 94, 106, 94, 96, 9...
                                      w4      [[101, 1961, 1468, 708, 828, 841, 763, 667, 53...
                                      w5      [[111, 1885, 1467, 707, 778, 791, 766, 698, 59...
                                      w6      [[101, 1901, 1448, 738, 706, 800, 718, 744, 64...
                         L4_INH       w1      [[8, 8, 9, 9, 12, 7, 6, 7, 2, 7, 7, 11, 7, 4, ...
                                      w2      [[6, 5, 8, 12, 6, 6, 5, 7, 5, 5, 15, 2, 1, 10,...
                                      w3      [[6, 11, 10, 6, 9, 8, 1, 5, 9, 9, 3, 9, 6, 5, ...
                                      w4      [[7, 149, 69, 27, 49, 53, 47, 59, 37, 47, 38, ...
                                      w5      [[9, 142, 84, 32, 43, 46, 49, 57, 40, 45, 36, ...
                                      w6      [[8, 154, 74, 27, 44, 43, 43, 56, 38, 50, 30, ...

                                                                                            PSD
simulation_id circuit_id neuron_class window
0             0          L3_EXC       w1      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w2      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w3      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w4      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w5      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w6      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                         L3_INH       w1      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w2      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w3      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w4      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w5      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w6      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                         L4_EXC       w1      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w2      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w3      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w4      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w5      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w6      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                         L4_INH       w1      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w2      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w3      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w4      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w5      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
                                      w6      [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...