In [1]:
import logging

import numpy as np
import pandas as pd

from blueetl.analysis import Analyzer
from blueetl.constants import *
from blueetl.utils import load_yaml

analysis_config_file = "../tests/data/tmp/analysis_config_01.yaml"
# analysis_config_file = "../tests/data/tmp/analysis_config_02.yaml"

In [2]:
loglevel = logging.WARNING
logformat = "%(asctime)s %(levelname)s %(name)s: %(message)s"
logging.basicConfig(format=logformat, level=loglevel)
np.random.seed(0)
analysis_config = load_yaml(analysis_config_file)

In [3]:
a = Analyzer(analysis_config, base_path='..', use_cache=True)
a.extract_repo()
a.calculate_features()

2022-04-08 17:19:20,034 WARNING blueetl.config.simulations: 'c26abad3-0861-4f7d-863c-a42daffd029f/000' is a directory, assuming BlueConfig as the config file
2022-04-08 17:19:20,035 WARNING blueetl.config.simulations: 'c26abad3-0861-4f7d-863c-a42daffd029f/001' is a directory, assuming BlueConfig as the config file
2022-04-08 17:19:20,036 WARNING blueetl.config.simulations: 'c26abad3-0861-4f7d-863c-a42daffd029f/002' is a directory, assuming BlueConfig as the config file
2022-04-08 17:19:20,036 WARNING blueetl.config.simulations: 'c26abad3-0861-4f7d-863c-a42daffd029f/003' is a directory, assuming BlueConfig as the config file

In [4]:
df = a.repo.spikes.df.set_index(["simulation_id", "window", "trial"])
df

                                time      gid  circuit_id neuron_class
simulation_id window trial
0             w1     0      2000.200   355828           0      L23_EXC
                     0      2003.975  3241134           0      L23_EXC
                     0      2010.875   644392           0      L23_EXC
                     0      2019.400  3254415           0      L23_EXC
                     0      2019.950   158267           0      L23_EXC
...                              ...      ...         ...          ...
3             w3     4        24.000  1389002           0       L6_INH
                     4        24.125  2180441           0       L6_INH
                     4        24.525  1397134           0       L6_INH
                     4        24.575  1724717           0       L6_INH
                     4        24.675  1371682           0       L6_INH

[186948 rows x 4 columns]

In [5]:
df.etl.q(simulation_id=1, window=['w2', 'w3'], gid={'ge': 356000, 'lt': 357000}, time={'lt': 19.5})

                              time     gid  circuit_id neuron_class
simulation_id window trial
1             w2     0      19.475  356718           0      L23_EXC
              w3     0      19.475  356718           0      L23_EXC
                     1       8.075  356718           0      L23_EXC
                     1       8.400  356127           0      L23_EXC

In [6]:
df.loc[(df.index.get_level_values('simulation_id') == 1) & (df.index.get_level_values('window').isin(["w2", "w3"])) & (df['gid'] >= 356000) & (df['gid'] < 357000) & (df['time'] < 19.5)]

                              time     gid  circuit_id neuron_class
simulation_id window trial
1             w2     0      19.475  356718           0      L23_EXC
              w3     0      19.475  356718           0      L23_EXC
                     1       8.075  356718           0      L23_EXC
                     1       8.400  356127           0      L23_EXC

In [7]:
df[(df['gid'] >= 356000) & (df['gid'] < 357000) & (df['time'] < 19.5)].loc[(1, ["w2", "w3"]), :]

                              time     gid  circuit_id neuron_class
simulation_id window trial
1             w2     0      19.475  356718           0      L23_EXC
              w3     0      19.475  356718           0      L23_EXC
                     1       8.075  356718           0      L23_EXC
                     1       8.400  356127           0      L23_EXC

In [8]:
df.query("simulation_id==1 and window==['w2', 'w3'] and gid >= 356000 and gid < 357000 and time < 19.5")

                              time     gid  circuit_id neuron_class
simulation_id window trial
1             w2     0      19.475  356718           0      L23_EXC
              w3     0      19.475  356718           0      L23_EXC
                     1       8.075  356718           0      L23_EXC
                     1       8.400  356127           0      L23_EXC